.input {
  display: block;
  width: 80%;
  border: 1px solid blue;
  padding: 10px 10px;
  margin-bottom: 20px;
}

.formBtn {
  display: block;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 10px 40px;
  color: blue;
  background-color: yellow;
}
