body {
  font-family: "Roboto-condensed";
  background-color: $back;
  color: $text;
  font-size: 30px;
  user-select: none;
}

.image {
  display: block;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  background-size: cover;
  background-image: url("img/info10.jpg");
}
.ui.primary.button.btn {
  padding: 1em 2em;
  border: 1px solid black;

  &:hover {
    background-color: #fff;
    color: blue;
  }
}
